* {
box-sizing: border-box;
}

h1 {
  font-size: 50px;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}


.main {
  width: 80%;
  margin: 5% 30%;
  font-family: 'Roboto', sans-serif;

}

.main h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: black;
}


.main-profil {
  margin: 1% 8%;
}

.main-profil a{
  text-decoration: none;
  color: black;
  margin: 1%;
}

.main-profil:hover a {
  color: tomato;
}

.main-profil h1{
  color: black;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.container a{
  text-decoration: none;
  color: white;
}

.container {
  width: 460px;
  height: 460px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  background: white;
  cursor: pointer;
}

.mary:hover {
    background: tomato;
}

.mary-1 {
  width: 150px;
  height: 150px;
  background: black;
  padding: 1em;
  margin: 1%;

}

.mary-2 {
  width: 150px;
  height: 150px;
  background: black;
  padding: 1em;
  margin: 1%;
}

.mary-3 {
  width: 150px;
  height: 150px;
  background: black;
  padding: 1em;
  margin: 1%;
}

.mary-4 {
  width: 150px;
  height: 150px;
  background: black;
  padding: 1em;
  margin: 1%;
}

.mary-5 {
  width: 150px;
  height: 150px;
  background: black;
  padding: 1em;
  margin: 1%;
}

.mary-6 {
  width: 150px;
  height: 150px;
  background: black;
  padding: 1em;
  margin: 1%;
}

.mary-7 {
  width: 150px;
  height: 150px;
  background: black;
  padding: 1em;
  margin: 1%;
}

.mary-8 {
  width: 150px;
  height: 150px;
  background: black;
  padding: 1em;
  margin: 1%;
}

.mary-9 {
  width: 150px;
  height: 150px;
  background: black;
  padding: 1em;
  margin: 1%;
}

.name {
  font-size: 23px;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.intro-banner {
  background: url(../image/mary_roomates_2.png);
  background-attachment: fixed;
  background-size: cover;
  width: auto;
  height: 20vh;
  margin: 0% -40%;
}

.intro p{
  width: 65%;
  font-size: 20px;
}
